<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Include Jr</title>
</head>

<body>
    <input id="close-menu" class="close-menu" type="checkbox" aria-label="close menu" role="button"><label
        class="close-menu-label" for="close-menu" title="close menu"></label>
    <header class="header-container">
        <div class="header-content">
            <h1 onclick="getElementById('close-menu'.checked = false)"><a href="#jojo">JOJO's</a></h1>
            <nav>
                <ul onclick="getElementById('close-menu').checked = false" class="list-header">
                    <li class="option"><a href="#autor">AUTOR</a></li>
                    <li class="option"><a href="#inspiracao">INSPIRAÇÃO</a></li>
                    <li class="option"><a href="#obra">OBRA</a></li>
                    <li class="option"><a href="#arte">ARTE</a></li>
                    <li class="option"><a href="#manga">MANGÁ</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="jojo" class="section-sizing intro-section fadein">
        <img class="intro-img">
    </section>

    <section id="autor" class="section-sizing author-section fadein">
        <h1>AUTOR</h1>
        <div class="author-info">
            <img class="author-img">
            <p>
                <strong>Hirohiko Araki</strong> é um artista de mangá japonês famosamente conhecido por sua série
                <strong>JoJo's
                    Bizarre Adventure</strong>. Lançada em 1987, a série tem juntado fãs de todo o mundo por sua
                magnífica arte e sua
                “bizarra” história. <strong>Araki</strong> carrega consigo vários prêmios de arte e moda mundialmente.
            </p>
        </div>
    </section>

    <section id="inspiracao" class="section-sizing author-section fadein">
        <h1>INSPIRAÇÃO</h1>
        <div class="author-info">
            <p>
                <strong>Hirohiko Araki</strong> é um adorador da arte italiana, ou de forma mais especifica, é um
                adorador das <strong>obras renascentistas</strong>. Pode-se dizer que seus desenhos com estilo realista
                se adequam a este tipo de arte, além do mais, sua constante evolução como artista proporciona cada vez
                mais integridade às suas próprias obras.
            </p>
            <img class="author-img">
        </div>
    </section>

    <section id="obra" class="section-sizing author-section fadein">
        <h1>OBRA</h1>
        <div class="author-info">
            <img class="author-img">
            <p>
                A obra de <strong>Hirohiko Araki</strong>, <strong>JoJo's Bizarre Adventure</strong>, conta atualmente
                com 127 volumes divididos em 8 partes. A 9ª e última parte está em produção. <strong>Araki</strong> traz
                para sua obra as mais diversas épocas, histórias e grandes referências à cultura pop ocidental,
                transformando-a em um palco para homenagear <strong>a grandeza da humanidade</strong> em todas as
                formas: suas conquistas, criações e seus heróis.
            </p>
        </div>
    </section>

    <section id="arte" class="section-sizing author-section fadein">
        <h1>ARTE</h1>
        <div class="container">
            <div class="arts-container">
                <div class="box-img span-h-3 span-w-1 current-item">
                    <img class="art-img">
                </div>
                <div class="box-img span-h-1 span-w-2">
                    <img class="art-img">
                </div>
                <div class="box-img span-h-1 span-w-1">
                    <img class="art-img">
                </div>
                <div class="box-img span-h-2 span-w-1">
                    <img class="art-img">
                </div>
                <div class="box-img span-h-2 span-w-2">
                    <img class="art-img">
                </div>
            </div>
        </div>
    </section>

    <section id="manga" class="section-sizing author-section fadein">
        <h1>Mangá</h1>
        <div class="container-manga">
            <div class="manga">
                <img class="manga-img">
            </div>
            <div class="manga">
                <img class="manga-img">
            </div>
            <div class="manga">
                <img class="manga-img">
            </div>
            <div class="manga">
                <img class="manga-img">
            </div>
            <div class="manga">
                <img class="manga-img">
            </div>
            <div class="manga">
                <img class="manga-img">
            </div>
            <div class="manga">
                <img class="manga-img">
            </div>
            <div class="manga">
                <img class="manga-img">
            </div>
        </div>
    </section>

    <nav class="back-top">
        <a href="#">TOPO</a>
    </nav>

    <script src="./assets/js/bundle.js"></script>
</body>

</html>